@import "colors.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	line-height: 150%;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 130%;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	overflow-x: hidden;
	color: $dark;

	&.noscroll {
		overflow-y: hidden !important;
	}
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
	list-style: none;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

button,
button:active,
button:focus {
	border: none;
	outline: transparent;
}

.container {
	max-width: 1260px;
	padding: 0px 20px;
	margin: 0 auto;
}

.title {
	font-weight: bold;
	font-size: 54px;
	line-height: 130%;
}

.btn__primary,
.btn__secondary {
	width: 200px;
	padding: 20px 40px;
	background-color: $primary;
	color: #fff;
	text-align: center;
	transition: .2s;
	cursor: pointer;

	&:hover {
		background-color: lighten($primary, 10);
	}

	&:active {
		background-color: darken($primary, 10);
	}
}

.btn__secondary {
	background-color: #fff;
	color: $dark;
	box-shadow: 2px 2px 0 $primary inset, -2px -2px 0 $primary inset;

	&:hover {
		box-shadow: 2px 2px 0 lighten($primary, 10) inset, -2px -2px 0 lighten($primary, 10) inset;
		background-color: darken(#fff, 5);
	}

	&:active {
		background-color: #fff;
	}
}

.popup {

	&__title {
		font-size: 32px;
		line-height: 100%;
		width: 100%;
		margin-bottom: 20px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: space-between;

		&-form {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 0 auto;
			padding: 75px 90px 90px;
			width: 600px;

			border: 2px solid $primary;
			background-color: #fff;
		}

		&-input {
			border: 1px solid $dark;
			padding: 15px 15px;
			width: 100%;

			&:focus {
				border: 1px solid $primary;
				outline: 1px solid $primary;
			}

			&:focus label {
				display: none;
			}
		}

		&-input+&-input {
			margin-top: 20px;
		}

		&-btn {
			border: none;
			margin-top: 20px;
			padding: 15px 25px;
			width: 100%;

			&:focus {
				outline: 1px solid $dark;
			}
		}
	}
}

.mfp {
	&-container {
		background-color: #fff;

		&-close {
			width: 50px;
			height: 50px;
		}
	}
}


.popup-with-form {
	transition: 1s;
}