.header {
	&__outer {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		box-shadow: 0px 6px 15px 0px rgba(70, 70, 70, 0.2);
		background-color: #fff;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 90px;
		max-width: 1260px;
		font-weight: 400;
		margin: 0 auto;
		position: relative;
	}

	&__nav-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		margin-left: 50px;

		@media (max-width: $breakpoint-md-max) {
			position: absolute;
			top: 90px;
			left: 0;
			right: 0;
			margin-left: 0;
			padding-top: 10px;
			height: 90px;
			width: 100vw;
			transform: translateX(-50%);
			left: 50%;
			background-color: #fff;
			box-shadow: 0px 30px 50px 0px rgba(70, 70, 70, 0.2);
			flex-direction: column;
			display: none;

		}

		@media (max-width: $breakpoint-xs-max) {
			height: 100vh;
			justify-content: start;
		}
	}

	&__nav-wrap--active {
		display: flex;
	}

	.btn-burger {
		display: none;
		margin-left: auto;
		padding: 16px;
		background-color: transparent;
		border: 1px solid $primary;

		&__line {
			display: block;
			width: 18px;
			height: 2px;
			background-color: $primary;

			margin-top: 5px;

			&:first-child {
				margin-top: 0;
			}
		}

		@media (max-width: $breakpoint-md-max) {
			display: block;
		}
	}

	&__nav {
		@media (max-width: $breakpoint-xs-max) {
			width: 100%;
		}
	}

	&__nav-menu {
		display: flex;

		@media (max-width: $breakpoint-xs-max) {

			width: 100%;
			flex-direction: column;
			align-items: center;
		}
	}

	&__menu-item {
		padding-bottom: 2px;
		transition: 0.2s ease-in;
		cursor: pointer;

		&:hover {
			color: $primary-light;
			border-bottom: 1px solid $primary-light;
		}

		@media (max-width: $breakpoint-xs-max) {
			width: 100%;
			text-align: center;
			padding: 15px 0;

			&:hover {
				color: $primary-light;
				border-bottom: none;
			}
		}
	}

	&__menu-item+&__menu-item {
		margin-left: 40px;

		@media (max-width: $breakpoint-xs-max) {
			margin-left: 0;
		}


	}

	&__tel {
		display: flex;
		align-items: center;
		color: $primary;

		@media (max-width: $breakpoint-md-max) {
			padding-bottom: 25px;
		}

		@media (max-width: $breakpoint-xs-max) {
			padding-top: 20px;
		}
	}

	&__tel-number {
		margin-right: 10px;
		font-weight: 700;
	}
}