.home {
	&__inner {
		display: flex;
		justify-content: space-between;

		margin-top: 50px;
	}

	&__content {
		width: 50%;
		padding-right: 30px;

		@media (max-width: $breakpoint-lg-max) {
			width: 60%;
			margin-bottom: auto;

		}
	}

	&__content-discr {
		margin-top: 20px;
	}

	&__content-btn {
		display: flex;
		margin-top: 28px;
	}

	&__btn-primary {
		margin-right: 40px;
	}

	&__img {
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
}
