.home {
	&__inner {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 50%;
		padding-right: 30px;

		@media (max-width: $breakpoint-lg-max) {
			padding-right: 15px;
		}

		@media (max-width: $breakpoint-md-max) {
			width: 60%;
		}
		@media (max-width: $breakpoint-xs-max) {
			width: 68%;
		}
	}



	&__content-discr {
		margin-top: 15px;
		margin-bottom: 15px;
		line-height: 150%;
	}

	&__content-btn {
		display: flex;
	}

	&__btn-primary {
		margin-right: 40px;

		@media (max-width: $breakpoint-lg-max) {
			margin-right: 20px;
		}
	}

	&__img {
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left top;
		}

		@media (max-width: $breakpoint-md-max) {
			width: 50%;
		}

	}
}