.rent__inner,
.buy__inner {
	margin-top: 70px;
}

.carts {
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 30px;
		margin-top: 30px;

		@media (max-width: $breakpoint-lg-max) {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-gap: 40px;
			margin-top: 20px;
		}
	}
}

.product-cart {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
	transition: 0.5s;
	cursor: pointer;

	&:hover {
		transform: translateY(-10px);
		box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
	}

	&:hover img {
		transition: 1s linear;
		transform: scale(1.05);
	}

	&__img {
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 15px 15px 30px;
	}

	&__content-area {
		font-size: 30px;
		line-height: 36px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	&__content-price {
		margin-bottom: 10px;
	}

	.text-navy {
		font-size: 18px;
		color: $primary;
	}
}